@import './mixins.scss';

$header-height: 0;
$header-width: 100%;
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$font-size: 14px;
$primary-color: #0e2b56  ;
$secondary-color: #5ca404;
$accent-color: #0c6569;
$copy-color: #bfbc11;
$shadow: 0 0 20px rgba(0,0,0,.15);
$logo-height: 38px;
$logo-width: 200px;


// @font-face{
//   font-family:Aeonik;
//   src: url('assets/fonts/Aeonik-Medium.otf') format("opentype");
//   font-weight:500;
//   font-style:normal;
// }
