.woocommerce ul.products li.product {
    text-align: center;
}
.header-image {
    background-size: cover;
}
.header-image {
    height: 490px;
}
.llms-student-dashboard .llms-button-secondary:hover,
.llms-button-action:hover,
.read-more-gt,
.widget-area .widget_fp_social a,
#mainnav ul li a:hover,
.sydney_contact_info_widget span,
.roll-team .team-content .name,
.roll-team .team-item .team-pop .team-social li:hover a,
.roll-infomation li.address:before,
.roll-infomation li.phone:before,
.roll-infomation li.email:before,
.roll-testimonials .name,
.roll-button.border,
.roll-button:hover,
.roll-icon-list .icon i,
.roll-icon-list .content h3 a:hover,
.roll-icon-box.white .content h3 a,
.roll-icon-box .icon i,
.roll-icon-box .content h3 a:hover,
.switcher-container .switcher-icon a:focus,
.go-top:hover,
.hentry .meta-post a:hover,
#mainnav > ul > li > a.active,
#mainnav > ul > li > a:hover,
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.text-color,
.social-menu-widget a,
.social-menu-widget a:hover,
.archive .team-social li a,
a,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
.classic-alt .meta-post a,
.single .hentry .meta-post a,
.content-area.modern .hentry .meta-post span:before,
.content-area.modern .post-cat {
    color: #5ca404;
}
.llms-student-dashboard .llms-button-secondary,
.llms-button-action,
.reply,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.project-filter li a.active,
.project-filter li a:hover,
.preloader .pre-bounce1,
.preloader .pre-bounce2,
.roll-team .team-item .team-pop,
.roll-progress .progress-animate,
.roll-socials li a:hover,
.roll-project .project-item .project-pop,
.roll-project .project-filter li.active,
.roll-project .project-filter li:hover,
.roll-button.light:hover,
.roll-button.border:hover,
.roll-button,
.roll-icon-box.white .icon,
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span,
.go-top,
.bottom .socials li:hover a,
.sidebar .widget:before,
.blog-pagination ul li.active,
.blog-pagination ul li:hover a,
.content-area .hentry:after,
.text-slider .maintitle:after,
.error-wrap #search-submit:hover,
#mainnav .sub-menu li:hover > a,
#mainnav ul li ul:after,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.panel-grid-cell .widget-title:after {
    background-color: #5ca404;
}
.llms-student-dashboard .llms-button-secondary,
.llms-student-dashboard .llms-button-secondary:hover,
.llms-button-action,
.llms-button-action:hover,
.roll-socials li a:hover,
.roll-socials li a,
.roll-button.light:hover,
.roll-button.border,
.roll-button,
.roll-icon-list .icon,
.roll-icon-box .icon,
.owl-theme .owl-controls .owl-page span,
.comment .comment-detail,
.widget-tags .tag-list a:hover,
.blog-pagination ul li,
.error-wrap #search-submit:hover,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.archive .team-social li a {
    border-color: #5ca404;
}
.sydney_contact_info_widget span {
    fill: #5ca404;
}
.go-top:hover svg {
    stroke: #5ca404;
}
.site-header.float-header {
    background-color: rgba(0, 0, 0, 0.9);
}
@media only screen and (max-width: 1024px) {
    .site-header {
        background-color: #000000;
    }
}
#mainnav ul li a,
#mainnav ul li::before {
    color: #ffffff;
}
#mainnav .sub-menu li a {
    color: #ffffff;
}
#mainnav .sub-menu li a {
    background: #0e2b56;
}
.text-slider .maintitle,
.text-slider .subtitle {
    color: #ffffff;
}
body {
    color: #303030;
}
#secondary {
    background-color: #ffffff;
}
#secondary,
#secondary a {
    color: #767676;
}
.btn-menu .sydney-svg-icon {
    fill: #ffffff;
}
#mainnav ul li a:hover,
.main-header #mainnav .menu > li > a:hover {
    color: #59a300;
}
.overlay {
    background-color: #000000;
}
.page-wrap {
    padding-top: 61px;
}
.page-wrap {
    padding-bottom: 16px;
}
@media only screen and (max-width: 1025px) {
    .mobile-slide {
        display: block;
    }
    .slide-item {
        background-image: none !important;
    }
    .header-slider {
    }
    .slide-item {
        height: auto !important;
    }
    .slide-inner {
        min-height: initial;
    }
}
.go-top.show {
    border-radius: 2px;
    bottom: 10px;
}
.go-top.position-right {
    right: 20px;
}
.go-top.position-left {
    left: 20px;
}
.go-top .sydney-svg-icon,
.go-top .sydney-svg-icon svg {
    width: 16px;
    height: 16px;
}
.go-top {
    padding: 15px;
}
.site-info {
    border-top: 0;
}
.footer-widgets-grid {
    gap: 30px;
}
@media (min-width: 992px) {
    .footer-widgets-grid {
        padding-top: 95px;
        padding-bottom: 95px;
    }
}
@media (min-width: 576px) and (max-width: 991px) {
    .footer-widgets-grid {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}
@media (max-width: 575px) {
    .footer-widgets-grid {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}
@media (min-width: 992px) {
    .sidebar-column .widget .widget-title {
        font-size: 22px;
    }
}
@media (min-width: 576px) and (max-width: 991px) {
    .sidebar-column .widget .widget-title {
        font-size: 22px;
    }
}
@media (max-width: 575px) {
    .sidebar-column .widget .widget-title {
        font-size: 22px;
    }
}
.sidebar-column .widget {
    color: #c4c4c4;
}
.site-info {
    padding-top: 20px;
    padding-bottom: 20px;
}
@media (min-width: 992px) {
    button,
    .roll-button,
    a.button,
    .wp-block-button__link,
    input[type="button"],
    input[type="reset"],
    input[type="submit"] {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}
@media (min-width: 576px) and (max-width: 991px) {
    button,
    .roll-button,
    a.button,
    .wp-block-button__link,
    input[type="button"],
    input[type="reset"],
    input[type="submit"] {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}
@media (max-width: 575px) {
    button,
    .roll-button,
    a.button,
    .wp-block-button__link,
    input[type="button"],
    input[type="reset"],
    input[type="submit"] {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}
@media (min-width: 992px) {
    button,
    .roll-button,
    a.button,
    .wp-block-button__link,
    input[type="button"],
    input[type="reset"],
    input[type="submit"] {
        padding-left: 35px;
        padding-right: 35px;
    }
}
@media (min-width: 576px) and (max-width: 991px) {
    button,
    .roll-button,
    a.button,
    .wp-block-button__link,
    input[type="button"],
    input[type="reset"],
    input[type="submit"] {
        padding-left: 35px;
        padding-right: 35px;
    }
}
@media (max-width: 575px) {
    button,
    .roll-button,
    a.button,
    .wp-block-button__link,
    input[type="button"],
    input[type="reset"],
    input[type="submit"] {
        padding-left: 35px;
        padding-right: 35px;
    }
}
button,
.roll-button,
a.button,
.wp-block-button__link,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    border-radius: 0;
}
@media (min-width: 992px) {
    button,
    .roll-button,
    a.button,
    .wp-block-button__link,
    input[type="button"],
    input[type="reset"],
    input[type="submit"] {
        font-size: 14px;
    }
}
@media (min-width: 576px) and (max-width: 991px) {
    button,
    .roll-button,
    a.button,
    .wp-block-button__link,
    input[type="button"],
    input[type="reset"],
    input[type="submit"] {
        font-size: 14px;
    }
}
@media (max-width: 575px) {
    button,
    .roll-button,
    a.button,
    .wp-block-button__link,
    input[type="button"],
    input[type="reset"],
    input[type="submit"] {
        font-size: 14px;
    }
}
button,
.roll-button,
a.button,
.wp-block-button__link,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    text-transform: uppercase;
}
.posts-layout .list-image {
    width: 30%;
}
.posts-layout .list-content {
    width: 70%;
}
.content-area:not(.layout4):not(.layout6) .posts-layout .entry-thumb {
    margin: 0 0 24px 0;
}
.layout4 .entry-thumb,
.layout6 .entry-thumb {
    margin: 0 24px 0 0;
}
.layout6 article:nth-of-type(even) .list-image .entry-thumb {
    margin: 0 0 0 24px;
}
.posts-layout .entry-header {
    margin-bottom: 24px;
}
.posts-layout .entry-meta.below-excerpt {
    margin: 15px 0 0;
}
.posts-layout .entry-meta.above-title {
    margin: 0 0 15px;
}
@media (min-width: 992px) {
    .single .entry-meta {
        font-size: 12px;
    }
}
@media (min-width: 576px) and (max-width: 991px) {
    .single .entry-meta {
        font-size: 12px;
    }
}
@media (max-width: 575px) {
    .single .entry-meta {
        font-size: 12px;
    }
}
@media (min-width: 992px) {
    .single .entry-header .entry-title {
        font-size: 48px;
    }
}
@media (min-width: 576px) and (max-width: 991px) {
    .single .entry-header .entry-title {
        font-size: 32px;
    }
}
@media (max-width: 575px) {
    .single .entry-header .entry-title {
        font-size: 32px;
    }
}
.posts-layout .entry-post {
    color: #233452;
}
.posts-layout .entry-title a {
    color: #00102e;
}
.posts-layout .author,
.posts-layout .entry-meta a {
    color: #737c8c;
}
@media (min-width: 992px) {
    .posts-layout .entry-post {
        font-size: 16px;
    }
}
@media (min-width: 576px) and (max-width: 991px) {
    .posts-layout .entry-post {
        font-size: 16px;
    }
}
@media (max-width: 575px) {
    .posts-layout .entry-post {
        font-size: 16px;
    }
}
@media (min-width: 992px) {
    .posts-layout .entry-meta {
        font-size: 12px;
    }
}
@media (min-width: 576px) and (max-width: 991px) {
    .posts-layout .entry-meta {
        font-size: 12px;
    }
}
@media (max-width: 575px) {
    .posts-layout .entry-meta {
        font-size: 12px;
    }
}
@media (min-width: 992px) {
    .posts-layout .entry-title {
        font-size: 32px;
    }
}
@media (min-width: 576px) and (max-width: 991px) {
    .posts-layout .entry-title {
        font-size: 32px;
    }
}
@media (max-width: 575px) {
    .posts-layout .entry-title {
        font-size: 32px;
    }
}
.single .entry-header {
    margin-bottom: 40px;
}
.single .entry-thumb {
    margin-bottom: 40px;
}
.single .entry-meta-above {
    margin-bottom: 24px;
}
.single .entry-meta-below {
    margin-top: 24px;
}
@media (min-width: 992px) {
    .custom-logo-link img {
        max-width: 295px;
    }
}
@media (min-width: 576px) and (max-width: 991px) {
    .custom-logo-link img {
        max-width: 100px;
    }
}
@media (max-width: 575px) {
    .custom-logo-link img {
        max-width: 100px;
    }
}
.main-header,
.bottom-header-row {
    border-bottom: 0 solid rgba(255, 255, 255, 0.1);
}
.header_layout_3,
.header_layout_4,
.header_layout_5 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.main-header .site-title a,
.main-header .site-description,
.main-header #mainnav .menu > li > a,
.main-header .header-contact a {
    color: #000430;
}
.main-header .sydney-svg-icon svg,
.main-header .dropdown-symbol .sydney-svg-icon svg {
    fill: #000430;
}
.main-header .main-header-inner,
.main-header .top-header-row {
    padding-top: 20px;
    padding-bottom: 20px;
}
.bottom-header-inner {
    padding-top: 15px;
    padding-bottom: 15px;
}
.main-header-cart .widget_shopping_cart .widgettitle:after,
.main-header-cart .widget_shopping_cart .woocommerce-mini-cart__buttons:before {
    background-color: rgba(33, 33, 33, 0.9);
}
.sydney-offcanvas-menu .mainnav ul li {
    text-align: left;
}
.sydney-offcanvas-menu .mainnav a {
    padding: 10px 0;
}
#masthead-mobile {
    background-color: #ffffff;
}
.mobile-header {
    padding-top: 15px;
    padding-bottom: 15px;
}
.sydney-offcanvas-menu {
    background-color: #ffffff;
}
.sydney-offcanvas-menu,
.sydney-offcanvas-menu #mainnav a:not(.button),
.sydney-offcanvas-menu a:not(.button) {
    color: #282828;
}
.sydney-offcanvas-menu svg,
.sydney-offcanvas-menu .dropdown-symbol .sydney-svg-icon svg {
    fill: #282828;
}
@media (min-width: 992px) {
    .site-logo {
        max-height: 295px;
    }
}
@media (min-width: 576px) and (max-width: 991px) {
    .site-logo {
        max-height: 100px;
    }
}
@media (max-width: 575px) {
    .site-logo {
        max-height: 100px;
    }
}
.site-title a,
.site-title a:visited,
.main-header .site-title a,
.main-header .site-title a:visited {
    color: #ffffff;
}
.site-description,
.main-header .site-description {
    color: #ffffff;
}
@media (min-width: 992px) {
    .site-title {
        font-size: 32px;
    }
}
@media (min-width: 576px) and (max-width: 991px) {
    .site-title {
        font-size: 24px;
    }
}
@media (max-width: 575px) {
    .site-title {
        font-size: 20px;
    }
}
@media (min-width: 992px) {
    .site-description {
        font-size: 16px;
    }
}
@media (min-width: 576px) and (max-width: 991px) {
    .site-description {
        font-size: 16px;
    }
}
@media (max-width: 575px) {
    .site-description {
        font-size: 16px;
    }
}
h1,
h2,
h3,
h4,
h5,
h6,
.site-title {
    line-height: 1.2;
    letter-spacing: px;
}
@media (min-width: 992px) {
    h1:not(.site-title) {
        font-size: 52px;
    }
}
@media (min-width: 576px) and (max-width: 991px) {
    h1:not(.site-title) {
        font-size: 42px;
    }
}
@media (max-width: 575px) {
    h1:not(.site-title) {
        font-size: 32px;
    }
}
@media (min-width: 992px) {
    h2 {
        font-size: 42px;
    }
}
@media (min-width: 576px) and (max-width: 991px) {
    h2 {
        font-size: 32px;
    }
}
@media (max-width: 575px) {
    h2 {
        font-size: 24px;
    }
}
@media (min-width: 992px) {
    h3 {
        font-size: 32px;
    }
}
@media (min-width: 576px) and (max-width: 991px) {
    h3 {
        font-size: 24px;
    }
}
@media (max-width: 575px) {
    h3 {
        font-size: 20px;
    }
}
@media (min-width: 992px) {
    h4 {
        font-size: 24px;
    }
}
@media (min-width: 576px) and (max-width: 991px) {
    h4 {
        font-size: 18px;
    }
}
@media (max-width: 575px) {
    h4 {
        font-size: 16px;
    }
}
@media (min-width: 992px) {
    h5 {
        font-size: 20px;
    }
}
@media (min-width: 576px) and (max-width: 991px) {
    h5 {
        font-size: 16px;
    }
}
@media (max-width: 575px) {
    h5 {
        font-size: 16px;
    }
}
@media (min-width: 992px) {
    h6 {
        font-size: 18px;
    }
}
@media (min-width: 576px) and (max-width: 991px) {
    h6 {
        font-size: 16px;
    }
}
@media (max-width: 575px) {
    h6 {
        font-size: 16px;
    }
}
body,
.posts-layout .entry-post {
    line-height: 1.68;
    letter-spacing: px;
}
@media (min-width: 992px) {
    body,
    .posts-layout .entry-post {
        font-size: 16px;
    }
}
@media (min-width: 576px) and (max-width: 991px) {
    body,
    .posts-layout .entry-post {
        font-size: 16px;
    }
}
@media (max-width: 575px) {
    body,
    .posts-layout .entry-post {
        font-size: 16px;
    }
}
@media (min-width: 992px) {
    .woocommerce div.product .product-gallery-summary .entry-title {
        font-size: 32px;
    }
}
@media (min-width: 576px) and (max-width: 991px) {
    .woocommerce div.product .product-gallery-summary .entry-title {
        font-size: 32px;
    }
}
@media (max-width: 575px) {
    .woocommerce div.product .product-gallery-summary .entry-title {
        font-size: 32px;
    }
}
@media (min-width: 992px) {
    .woocommerce div.product .product-gallery-summary .price .amount {
        font-size: 24px;
    }
}
@media (min-width: 576px) and (max-width: 991px) {
    .woocommerce div.product .product-gallery-summary .price .amount {
        font-size: 24px;
    }
}
@media (max-width: 575px) {
    .woocommerce div.product .product-gallery-summary .price .amount {
        font-size: 24px;
    }
}
.woocommerce ul.products li.product .col-md-7 > *,
.woocommerce ul.products li.product .col-md-8 > *,
.woocommerce ul.products li.product > * {
    margin-bottom: 12px;
}
.wc-block-grid__product-onsale,
span.onsale {
    border-radius: 0;
    top: 20px !important;
    left: 20px !important;
}
.wc-block-grid__product-onsale,
.products span.onsale {
    left: auto !important;
    right: 20px;
}
.woocommerce-sorting-wrapper {
    border-color: rgba(33, 33, 33, 0.9);
}
ul.products li.product-category .woocommerce-loop-category__title {
    text-align: center;
}
ul.products li.product-category > a,
ul.products li.product-category > a > img {
    border-radius: 0;
}
input::placeholder {
    opacity: 1;
}
